<!DOCTYPE html>
<html ng-app="ChineseTextbookApp">
<head>
    <title>Chinese Textbook App</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="application.js"></script>
</head>
<body ng-controller="MainController">
    <div class="flashcards" style="display:none;">
        <div class="word">{{currentWord}}</div>
        <div class="choices">
            <div class="choice" ng-repeat="choice in currentChoices" ng-click="chooseAnswer(choice)">{{choice}}</div>
        </div>
        <div class="correct" ng-show="showCorrect">Correct</div>
    </div>
    <div class="matchpairs">
        <div class="matchpairs-word {{word.style}} {{word.colour}}" ng-repeat="word in currentWords" ng-click="chooseWord(word.word)">
            <div>{{word.word}}</div>
        </div>
    </div>
</body>
</html>
