.multiplechoice {
}

.questionnumber {
}

.multiplechoice-word {
    font-size: 300px;
    font-family: KaiTi;
    text-align: center;
    padding: 50px;
}

.multiplechoice-choices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.choice {
    padding: 30px;
     color:#ffffff;
    transition: background-color 0.4s;
    border-radius: 1px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    vertical-align: middle;
}