



.flashcards{
    width:1000px;
    margin:100px auto;
}



.word{
     font-size:200px;
     font-family:KaiTi;
      text-align:center;
       padding:40px;
}


.choices{
     display:flex;
      flex-direction:row;  
      align-items: stretch;  
      justify-content:center;
}

.choice{

    font-family:'Book Antiqua';
    padding:20px;
     border: 1px solid #C0C0C0;
      border-radius:2px;
       margin:10px;
        font-size:30px;
}

.choice-number{
    display:none;
}